.container{
    background-color: red;
    color: white;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px ;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;

    /*or padding:20px*/
    border: 13px dotted black;
    border-radius: 30px;
}
.container1{
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 20px ;
    /*margin bas lagane me charo side se equal space le lega*/
    border: 13px double black;
    border-radius: 40px;
}
